# Node
backend/node_modules/

# C++
optimizer/build/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# VSCode
.vscode/

# Cache
cache/

# Environment
.env
.env.*

# Logs
*.log

data/raw/kaggle_traffic.csv
backend/src/db/app.db